@model _04_Data.categoria

@{
    ViewBag.Title = "Details";
}

<section class="generic-banner">
    <div class="container">
        <div class=@*"row height align-items-center justify-content-center"*@>
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">CATEGORÍAS</h2>
                    <p class="text-white">Géneros literarios para todos los gustos</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">

        <div class="section-top-border">
            <div class="row">

                <div>
                    <h4>Detalles</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
                    @Html.ActionLink("Volver", "Index")
                </p>
            </div>
        </div>
    </div>

</div>
