@model _04_Data.lector_libro

@{
    ViewBag.Title = "Details";
    int miId = Model.id + 1;
}

<section class="generic-banner">
    <div class="container">
        <div class=@*"row height align-items-center justify-content-center"*@>
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">LECTORES DE LIBROS</h2>
                    <p class="text-white">Listado de los lectores</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">

        <div class="section-top-border">
            <div class="row">

                <div>
                    <div id="LectorLibroMvcPartialView"></div>




                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Volver", "Index")


                    </p>



                    <script type="text/javascript">

    document.body.onload = function () {
        lector_libro(@miId, 0);
    }

    function lector_libro(param1, param2) {
        var apiUrl = 'https://localhost:44324/Api/lector_libro/';

        if (param1 > 0) {
            //apiUrl = apiUrl + "/" + param1 + "/" + siguente;
            //var boolSiguiente = 0;
            //if (param2 != null && param2 > 0) {
            //    boolSiguiente = 1;
            //}
            apiUrl = apiUrl + "?id=" + param1 + "&siguiente=" + param2;
            //llamamos a un objeto de la librería jQuery y le pasamos la apiUrl
            $.ajax(
                {
                    //parámetros de configuración del objeto Ajax de jQuery
                    type: "GET", //HTTP GET Method
                    url: apiUrl//, // Controller/View
                    //data: No es necesario: Es GET
                    //el objeto nos muestra lo que le ha devuelto la api como parámetro: "res"
                }).done(function (res) {
                    //Enviamos el jSon "res" al EmpleadosMvcController
                    //método: _EmpleadoMvcOtraPartialView(res)
                    $.ajax(
                        {
                            type: "POST", //HTTP POST Method
                            //url: "_EmpleadoMvcOtraPartialView", // Controller/View
                            url: "../_LectorLibroMvcPartialView", // Controller/View
                            data: res
                            //Nos devuelve una respuesta "resDeLaRes"
                            //Que es un string con el html de la vista _EmpleadoMvcOtraPartialView
                        }).done(function (resDeLaRes) {
                            //Borramos lo que pueda haber en todos los div de la Class = miClase
                            //$('.miClase').empty();
                            //Cargamos la Vista Html dentro del <div>
                            $('#LectorLibroMvcPartialView').empty().append(resDeLaRes);
                        }).fail(function (resDeLaRes) {
                            console.log(resDeLaRes);
                        }).always(function (resDeLaRes) {
                            console.log(resDeLaRes);
                        });
                }).fail(function (res) {
                    console.log(res);
                }).always(function (res) {
                    console.log(res);
                });
        }
    }
                    </script>





                </div>
            </div>
        </div>

    </div>
